
body {
    background-color: #ffffff;
}

header {
    padding: 5px;
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: #2b395f;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header nav {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman','Arial', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.tech {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tech.jpg");
    background-size: auto;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.about-me, .my-work, .contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Times New Roman', 'Arial', 'sans-serif';
    background-color: #992424;
    color: rgb(39, 80, 168);
}

.about-me img, .my-work img, .contact-me img  {
    max-height: 200px;
}

.about-me h2, .my-work h2, .contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


  
